<h1>Add a new album</h1>

<form action="/albums" method="post">
  <div class="form-group">
    <label for="album_name">Album name</label>
    <input id="n" name="album_name" class="form-control" type="text">
    <label for="year">Year</label>
    <input id="n" name="year" class="form-control" type="text">
    <label for="genre">Genre</label>
    <input id="n" name="genre" class="form-control" type="text">
    <label for="description">Description</label>
    <input id="n" name="description" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Go!</button>
</form>
